$primary-font : 'Raleway' , sans-serif;
$primary-color : #4e82be;
$white-col : #fff;
$black-col : #000;

@mixin flex_property {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primary-font;
}

html{
    font-size: 15px;
}

.inner{
    max-width: 1200px;
    margin: 0 auto;
    padding: 5% 5%;
}


.flex-box{
    @include flex_property();
}



.more{
    width: 100px;
    height: 45px;
    border: 0;
    background-color: $primary-color;
    color: $white-col;
    font-family: $primary-font;
    font-size: 1.1rem;
    font-weight: 400;
}



//header

@import "header";

//info

@import "info";

//testimonial

@import "test";

//imagegallery

@import "gallery";

//footer

@import "footer";